<div>
  <ul class="cards">
    <% @books.each do |book| %>
      <li>
        <%= link_to book_path(book) do %>
          <%= render 'books/book', book: book %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>

<div>
  <%= link_to 'New Book', new_book_path %>
</div>
