<div>
  <ul>
    <% @books.each do |book| %>
        <li>
          <div>
            Book: <%= book.name %>
          </div>
          <div>
            <%= link_to 'Borrow', borrow_path(book) %> <%= link_to 'Return', return_path(book) %>
          </div>
        </li>
    <% end %>
  </ul>
</div>

<div>
  <%= link_to 'New Book', new_book_path %>
</div>