<div>
  <h2><%= @book.name %></h2>

  <p>
    Author: <%= @book.author %>
  </p>
  <p>
    Edition: <%= @book.edition %>
  </p>
</div>

<div>
  <h1>History</h1>
  <ul class="cards">
      <%= render @book.lendings %>
  </ul>
</div>