<div class="card">
  <div class="card-image">
    <img src="" alt="">
  </div>
  <div class="card-header">
    <%= lending.user.email %>
  </div>
  <div class="card-copy">
    <% if lending.return_date %>
        <p>Return on <%= lending.return_date %> </p>
    <% else %>
        <p>Pending return</p>
    <% end %>
  </div>
</div>
